@{
    ViewBag.Title = "DbjsTest";
}
@section AdditionalScripts
{
    <script src="@Url.Script("db.js")" type="text/javascript"></script>
    <script type="text/javascript" language="javascript">

    </script>
}
<h2>@ViewBag.Message</h2>