@{
    ViewBag.Title = "About";
}
<h2>
    About</h2>
<p>
    ASP.Net MVC Mobile application to search CR NAM database, plus revised non-purchasing
    version of TPS application.
</p>
<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
</ul>