@{
    ViewBag.Title = "TPS 4";
}
<h2>@ViewBag.Message</h2>
<p>
   
</p>
<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("NAM Search", "Index", "NamSearch")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
</ul>